@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {font-family: "Basis Grotesque Pro";
    src: url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.svg#Basis Grotesque Pro") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: 'Avenir Next';
  src: url(public/fonts/94f2f163d4b698242fef.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --ls-main-content-max-width: 1000px;
  /*--ls-font-family: "SF Mono";*/
  --ls-font-family: "Avenir Next";
  /*--ls-font-family: 'Basis Grotesque Pro';*/
}

.dark-theme, html[data-theme=dark] {
  --ls-block-ref-link-text-color: #e8d8d8;
  --ls-primary-background-color: #222436;
  --ls-link-text-color: #C0CDF3;
  --ls-link-ref-text-color: #9ECE6A;
  --ls-link-text-hover-color: #d33682;
  --ls-link-ref-text-hover-color: #d33682;  
  --ls-page-inline-code-bg-color: #353853;
  --ls-secondary-background-color: #1e2031;
  --ls-page-checkbox-color: #9ECE6A;
  --ls-tertiary-background-color: #262942;
  --ls-primary-text-color: #C0CDF3;
  --ls-primary-text-bold-color: #9ECE6A;
  --ls-primary-text-italic-color: #2AC3DE;
  --ls-title-text-color: #C0CDF3;
  --ls-page-properties-background-color: #1e2031;
  --ls-a-chosen-bg: var(--color-level-2);
  --ls-code-mirror-bg: #073642;
  --ls-outline-color: #fdf6e333;
  --ls-mark-bg: red;
  --ls-mark-color: var(--ls-primary-background-color);
  --ls-page-blockquote-bg-color: #073642;
  --ls-page-blockquote-border-color: #2aa198;
  --ls-block-properties-background-color: #262942;
  --ls-header-color: #d33682;
  --ls-select-color: #fdf6e3;
  --ls-select-bg: #586e75;
  --ls-block-ref-link-text-color: #073642;
  --ls-headline-mark-color: var(--ls-header-color);
  --ls-active-block-background: #08445496;
  --ls-guideline-color: #FF9E64;
  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
  --ls-scrollbar-foreground-color: #9ECE6A;
  --ls-border-color: #9ECE6A;
  --color-level-1: #1e2031;
  --color-level-2: #262942;
}

.ls-block :is(h1, h2, h3, h4, h5, h6) {
  border-bottom: 0px solid red;
  margin: 0;
}

.editor-inner .h1, .editor-inner .h2, .ls-block :is(h1,h2) {
  border-bottom: 0px solid red;
}

.whitespace-nowrap {
  /*white-space: normal;*/
}

i {
  color: var(--ls-primary-text-italic-color);
}

b {
  color: var(--ls-primary-text-bold-color);
}

.block-highlight, .content .selected {
  background-color: var(--ls-tertiary-background-color);
}

.page-reference::hover {
  background-color: red;
}

.bullet-container .bullet {
  background-color: #FF9E64;
}

.bullet-container.bullet-closed {
  background-color: #58473c;
  color: black;
}

.block-ref {
  font-size: inherit;
  padding: 1px 5px 0;
  border-radius: 2px;
  background: var(--color-level-2);
}

.block-ref:hover {
  background: var(--color-level-1);
}

.block-ref:before {
  content: "#";
  color: var(--ls-active-primary-color);
  font-size: 0.8em;
  padding: 0 4px 0 0;
}

.block-ref .block-body {
  display: inline-block;
}

.block-ref div {
  display: inline;
  padding: 0 0.2em;
}

.block-ref .block-ref {
  padding: 0 0 0 0.2em;
}

.CodeMirror-gutter {
  background: #262942;
}

.CodeMirror-lines {
  background: #1e2031;
}
