.colors-dark, html[data-theme=dark] {
  --cd-primary-bg-color: #222436;
  --cd-secondary-bg-color: #1f2031;
  --cd-alternate-bg-color: #1b1d2b;
  --cd-quaternary-bg-color: #181926;
  --cd-fifth-bg-color: #141620;
  --cd-sixth-bg-color: #11121b;
  --cd-highlight-bg-color: #383a4a;
  --cd-primary-text-color: #C0CDF3;
  --cd-alternate-text-color: #adb9db;
  --cd-active-color-1: #9ECE6A;
  --cd-active-color-2: #2AC3DE;
  --cd-standby-color-1: #FF9E64;
}

.colors-light, html[data-theme=light] {
  --cd-primary-bg-color: #d5d6db;
  --cd-secondary-bg-color: #c0c1c5;
  --cd-alternate-bg-color: #aaabaf;
  --cd-quaternary-bg-color: #959699;
  --cd-fifth-bg-color: #808083;
  --cd-sixth-bg-color: #6b6b6e;
  --cd-highlight-bg-color: #dddee2;
  --cd-primary-text-color: #222436;
  --cd-alternate-text-color: #383a4a;
  --cd-active-color-1: #567931;
  --cd-active-color-2: #166775;
  --cd-standby-color-1: #942c40;
}

.dark-theme, html[data-theme=dark] {
  /* == Backgrounds == */
  --ls-primary-background-color: var(--cd-primary-bg-color);
  --ls-secondary-background-color: var(--cd-secondary-bg-color);
  --ls-tertiary-background-color: var(--cd-alternate-bg-color);
  --ls-quaternary-background-color: var(--cd-highlight-bg-color);
  --ls-table-tr-even-background-color: var(--cd-alternate-bg-color);
  --ls-block-properties-background-color: var(--cd-alternate-bg-color);
  --ls-page-properties-background-color: var(--cd-alternate-bg-color);
  --ls-slide-background-color: var(--cd-primary-bg-color);
  --ls-selection-background-color: var(--cd-highlight-bg-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--cd-secondary-bg-color);
  --ls-search-background-color: var(--cd-highlight-bg-color);
  );
  /* == Text == */
  --ls-primary-text-color: var(--cd-primary-text-color);
  --ls-secondary-text-color: var(--cd-alternate-text-color);
  --ls-active-primary-color: var(--ls-primary-text-color);
  --ls-active-secondary-color: var(--ls-secondary-text-color);
  /* == Tags == */
  --ls-tag-text-color: var(--cd-active-color-1);
  --ls-tag-text-hover-color: var(--cd-active-color-2);
  /* == Links == */
  --ls-link-text-color: var(--cd-active-color-1);
  --ls-link-text-hover-color: var(--cd-standby-color-1);
  --ls-link-ref-text-color: var(--cd-active-color-1);
  --ls-link-ref-text-hover-color: var(--cd-standby-color-1);
  --ls-block-ref-link-text-color: var(--cd-active-color-1);
  /* == Code blocks == */
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: var(--cd-highlight-bg-color);
  /* == Checkboxes */
  --ls-page-checkbox-color: var(--cd-active-color-1);
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  /* == Block Quote */
  --ls-page-blockquote-color: var(--cd-alternate-text-color);
  --ls-page-blockquote-border-color: var(--cd-active-color-1);
  /* == Borders + Outlines */
  --ls-border-color: var(--cd-active-color-1);
  --ls-secondary-border-color: var(--cd-standby-color-1);
  --ls-guideline-color: var(--cd-standby-color-1);
  /* == Scrollbars == */
  --ls-scrollbar-foreground-color: var(--cd-standby-color-1);
  --ls-scrollbar-background-color: var(--cd-highlight-bg-color);
  --ls-scrollbar-thumb-hover-color: var(--cd-active-color-1);
  /* == Misc == */
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-title-text-color: var(--cd-standby-color-1);
  --ls-block-highlight-color: var(--cd-highlight-bg-color);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-icon-color: var(--cd-primary-text-color);
  --ls-search-icon-color: var(--cd-active-color-1);
  --ls-a-chosen-bg: var(--cd-highlight-bg-color);
  --ls-block-bullet-border-color: var(--cd-standby-color-1);
  --ls-block-bullet-color: var(--cd-standby-color-1);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--cd-fifth-bg-color);
  --color-level-5: var(--cd-sixth-bg-color);
  --color-level-6: #3a7e8e;
}

.white-theme, html[data-theme=light] {
  /* == Backgrounds == */
  --ls-primary-background-color: var(--cd-primary-bg-color);
  --ls-secondary-background-color: var(--cd-secondary-bg-color);
  --ls-tertiary-background-color: var(--cd-alternate-bg-color);
  --ls-quaternary-background-color: var(--cd-highlight-bg-color);
  --ls-table-tr-even-background-color: var(--cd-alternate-bg-color);
  --ls-block-properties-background-color: var(--cd-alternate-bg-color);
  --ls-page-properties-background-color: var(--cd-alternate-bg-color);
  --ls-slide-background-color: var(--cd-primary-bg-color);
  --ls-selection-background-color: var(--cd-highlight-bg-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: var(--cd-secondary-bg-color);
  --ls-search-background-color: var(--cd-highlight-bg-color);
  );
  /* == Text == */
  --ls-primary-text-color: var(--cd-primary-text-color);
  --ls-secondary-text-color: var(--cd-alternate-text-color);
  --ls-active-primary-color: var(--ls-primary-text-color);
  --ls-active-secondary-color: var(--ls-secondary-text-color);
  /* == Tags == */
  --ls-tag-text-color: var(--cd-active-color-1);
  --ls-tag-text-hover-color: var(--cd-active-color-2);
  /* == Links == */
  --ls-link-text-color: var(--cd-active-color-1);
  --ls-link-text-hover-color: var(--cd-standby-color-1);
  --ls-link-ref-text-color: var(--cd-active-color-1);
  --ls-link-ref-text-hover-color: var(--cd-standby-color-1);
  --ls-block-ref-link-text-color: var(--cd-active-color-1);
  /* == Code blocks == */
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: var(--cd-highlight-bg-color);
  /* == Checkboxes */
  --ls-page-checkbox-color: var(--cd-active-color-1);
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  /* == Block Quote */
  --ls-page-blockquote-color: var(--cd-alternate-text-color);
  --ls-page-blockquote-border-color: var(--cd-active-color-1);
  /* == Borders + Outlines */
  --ls-border-color: var(--cd-active-color-1);
  --ls-secondary-border-color: var(--cd-standby-color-1);
  --ls-guideline-color: var(--cd-standby-color-1);
  /* == Scrollbars == */
  --ls-scrollbar-foreground-color: var(--cd-standby-color-1);
  --ls-scrollbar-background-color: var(--cd-highlight-bg-color);
  --ls-scrollbar-thumb-hover-color: var(--cd-active-color-1);
  /* == Misc == */
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-title-text-color: var(--cd-standby-color-1);
  --ls-block-highlight-color: var(--cd-highlight-bg-color);
  --ls-head-text-color: var(--ls-link-text-color);
  --ls-icon-color: var(--cd-primary-text-color);
  --ls-search-icon-color: var(--cd-active-color-1);
  --ls-a-chosen-bg: var(--cd-highlight-bg-color);
  --ls-block-bullet-border-color: var(--cd-standby-color-1);
  --ls-block-bullet-color: var(--cd-standby-color-1);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: var(--cd-fifth-bg-color);
  --color-level-5: var(--cd-sixth-bg-color);
  --color-level-6: #3a7e8e;
}

/* ==== Fonts ==== */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {font-family: "Basis Grotesque Pro";
    src: url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.svg#Basis Grotesque Pro") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: 'Avenir Next';
  src: url(public/fonts/94f2f163d4b698242fef.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --ls-main-content-max-width: 1000px;
  --ls-font-family: "Avenir Next";
  /*--ls-font-family: 'Basis Grotesque Pro';*/
}

mark {
  background: var(--cd-active-color-1);
}

.form-checkbox {
  border: 2px solid var(--ls-page-checkbox-color);
  border-radius: 50%;
  background: transparent;
}

.form-checkbox:hover {
  filter: brightness(150%);
}

li {
  list-style: square;
  color: var(--cd-standby-color-1);
}

.ls-block :is(h1, h2, h3, h4, h5, h6) {
  border-bottom: 0px solid red;
  margin: 0;
}

.editor-inner .h1, .editor-inner .h2, .ls-block :is(h1,h2) {
  border-bottom: 0px solid transparent;
}

.whitespace-nowrap {
  /*white-space: normal;*/
}

i {
  color: var(--cd-active-color-2);
}

b {
  color: var(--cd-active-color-1);
}

.block-highlight, .content .selected {
  background-color: var(--cd-highlight-bg-color);
}

.bullet-container.bullet-closed {
  background: transparent;
}

.bullet-container.bullet-closed .bullet {
  background: var(--cd-active-color-1);
}

.block-ref {
  padding: 2px 5px 2px 5px;
  border: 0px solid transparent;
  background: var(--cd-highlight-bg-color);
}

.block-ref:hover {
  background: var(--color-level-1);
  border: 0px solid transparent;
}

.block-ref:before {
  content: "#";
  color: var(--ls-active-primary-color);
  font-size: 0.8em;
  padding: 0 4px 0 0;
}

.block-ref .block-body {
  display: inline-block;
}

.block-ref div {
  display: inline;
  padding: 0 0.2em;
}

.block-ref .block-ref {
  padding: 0 0 0 0.2em;
}

.CodeMirror-gutter {
  background: var(--ls-tertiary-background-color);
}

.CodeMirror-lines {
  background: var(--ls-secondary-background-color);
}
